<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <nav>
        <h1>BlogPost Appl<sup>n</sup></h1>
        <div><a href="/addpost">Add Blog</a>
            <a href="/">All Blogs</a>
        </div>

    </nav>